body {
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
}

.profile-container {
  max-width: 600px;
  margin: auto;
  position: relative;
}

.close-form {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.2rem;
  background: none;
  border: none;
  cursor: pointer;
}

.profile-header {
  text-align: center;
  background-color: #ccc;
  padding: 4rem 1rem 2rem;
  border-bottom-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 10%;
  position: relative;
}

.profile-pic-wrapper {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.profile-pic {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  border: 3px solid white;
  object-fit: cover;
}

.name {
  margin-top: 1rem;
  margin-bottom: 0.2rem;
}

.contact {
  margin: 0;
  color: #555;
  font-size: 0.9rem;
}

.card-grid {
  display: grid;
  gap: 1rem;
  padding: 1.5rem;
  grid-template-columns: 1fr;
}

.card {
  background-color: #bbb;
  padding: 1rem;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

/* MODAL */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.modal-content {
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  width: 90%;
  max-width: 300px;
  text-align: center;
  position: relative;
}

.close-modal {
  position: absolute;
  top: 0.5rem;
  right: 0.7rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
}

/* Responsive para pantallas grandes */
@media (min-width: 640px) {
  .card-grid {
    grid-template-columns: 1fr 1fr;
  }
}
